# Settings 
---

### Caution 🚧  

아래 내용을 수정하면 프로그램이 정상적으로 동작하지 않을 수 있습니다.

In [1]:
from os.path import join

url = "https://gist.githubusercontent.com/pparkddo/b6643ed4cee951e445f0f48262c6eedc/raw/e500e30ab217c6646b881c7ba11efc2936e2f3f7/"

In [2]:
import numpy as np

In [3]:
import pandas as pd

# Problems
---

각 문제를 풀기전 입력값이 있는 셀을 꼭! 실행시켜주셔야 합니다.

1. `DataFrame` `df` 의 분단위 답변 횟수(`answer` 의 개수)를 구하고자 한다.  
   다만 2021-3-10 0:00 분부터 2021-3-10 23:59 분까지 모두 구해야 한다.   
   (참고 : `timetstamp` 열은 2021-3-10 9:00 ~ 2021-3-10 17:58 까지의 데이터가 있다.)  
   
- Hint : date_range

In [4]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])

In [5]:
# 답안 예시입니다. 주어진 'df' 를 조작하여 아래와 같이 만들면 됩니다.
# 데이터가 없는 시간(분)에는 answer 가 0 으로 나타나지만
# 09:00 등 답변이 있었던 시간(분)에는 해당 시간에 있었던 답변의 횟수가 나타납니다.
# 자세한 출력값은 아래 데이터를 참고하세요.

pd.read_csv(join(url, "problems_minutes.csv"))

                timestamp  answer
0     2021-03-10 00:00:00       0
1     2021-03-10 00:01:00       0
2     2021-03-10 00:02:00       0
3     2021-03-10 00:03:00       0
4     2021-03-10 00:04:00       0
...                   ...     ...
1435  2021-03-10 23:55:00       0
1436  2021-03-10 23:56:00       0
1437  2021-03-10 23:57:00       0
1438  2021-03-10 23:58:00       0
1439  2021-03-10 23:59:00       0

[1440 rows x 2 columns]

In [6]:
# 아래에 정답코드를 작성해주세요

2. `DataFrame` `information` 은 각 학생ID(`student_id`)별 부서(`department`), 나이(`age`), 좋아하는 숫자(`favorite_number`) 의 데이터이다.  
   `information` 에서 `favorite_number` 가 3으로 나누어 떨어지는 학생들만 고르고,  
   `records` 에서 위 조건에 해당하는 학생들의 답변 데이터를 시간별 합산하여 나타내시오.
   
- Hint : resample

In [7]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

records = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])
information = pd.read_csv(join(url, "problems_information.csv"))

In [8]:
# 답안 예시입니다. 주어진 records, information 을 조작하여 아래와 같이 만들면 됩니다.

pd.read_csv(join(url, "problems_resampled.csv")).set_index("timestamp")

                     size
timestamp
2021-03-10 09:00:00    22
2021-03-10 10:00:00    34
2021-03-10 11:00:00    28
2021-03-10 12:00:00    34
2021-03-10 13:00:00    26
2021-03-10 14:00:00    33
2021-03-10 15:00:00    36
2021-03-10 16:00:00    29
2021-03-10 17:00:00    25

In [9]:
# 아래에 정답코드를 작성해주세요

3. `DataFrame` `df` 에서 각 학생ID(`student_id`)별 가장 빠른 답변시각(`timestamp`) 에 해당하는 행을 구하세요.  
   만약 가장 빠른 답변시각이 한 학생ID별로 두개 이상일 경우에는 그 중 `answer` 값이 가장 작은 것을 고르세요. 
   
- Hint : groupby() first

In [10]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])

In [11]:
# 답안 예시입니다. 주어진 df 를 조작하여 아래와 같이 만들면 됩니다.

pd.read_csv(join(url, "problems_first.csv")).set_index("student_id")

                      timestamp  answer
student_id
1           2021-03-10 09:09:00       2
2           2021-03-10 09:10:00       4
3           2021-03-10 09:34:00       4
4           2021-03-10 11:11:00       2
5           2021-03-10 09:01:00       3
6           2021-03-10 09:28:00       2
7           2021-03-10 09:17:00       2
8           2021-03-10 09:01:00       4
9           2021-03-10 09:16:00       4
10          2021-03-10 09:44:00       3
11          2021-03-10 09:00:00       5
12          2021-03-10 09:53:00       4
13          2021-03-10 10:18:00       5
14          2021-03-10 09:04:00       1
15          2021-03-10 09:05:00       3
16          2021-03-10 09:01:00       5
17          2021-03-10 09:08:00       3
18          2021-03-10 09:16:00       4
19          2021-03-10 09:25:00       4
20          2021-03-10 09:06:00       2
21          2021-03-10 09:10:00       2
22          2021-03-10 09:09:00       3
23          2021-03-10 09:19:00       1
24          2021-03-10 10:08:00       4
25          2021-03-10 09:14:00       4
26          2021-03-10 09:22:00       2
27          2021-03-10 09:04:00       4
28          2021-03-10 09:06:00       2
29          2021-03-10 09:19:00       4
30          2021-03-10 09:22:00       4
31          2021-03-10 09:29:00       2
32          2021-03-10 09:24:00       2
33          2021-03-10 10:13:00       4
34          2021-03-10 09:06:00       3
35          2021-03-10 09:06:00       2
36          2021-03-10 09:18:00       5
37          2021-03-10 09:05:00       2
38          2021-03-10 09:04:00       1
39          2021-03-10 09:34:00       5
40          2021-03-10 09:24:00       5
41          2021-03-10 09:24:00       1
42          2021-03-10 10:08:00       2
43          2021-03-10 09:07:00       1
44          2021-03-10 10:26:00       5
45          2021-03-10 09:16:00       3
46          2021-03-10 09:27:00       2
47          2021-03-10 09:17:00       1
48          2021-03-10 09:37:00       3
49          2021-03-10 09:20:00       5
50          2021-03-10 09:00:00       5

In [12]:
# 아래에 정답코드를 작성해주세요